body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: #f5f5f5;
} */
.header-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.header-button button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(100, 148, 237, 0.809);
    border: 2px solid rgba(0, 0, 0, 0.665);
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 5px #212529ab;
}

.header-button button:hover {
    background-color: rgba(100, 148, 237, 0.809);
    color: #fff;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.main-image img {
    width: 650px;
    height: 400px;

}

.info {
    width: 500px;
    height: 300px;
    padding: 20px;
    margin-right:10px;
}

.info p{
    font-size: 18px;
    line-height: 1.7;
}

.info button {
    display: block;
    margin: 0 auto;
    margin-left: 9.5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(100, 148, 237, 0.809);
    border: 2px solid rgba(0, 0, 0, 0.665);
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 5px #212529ab;
}

.info button:hover {
    background-color: rgba(100, 148, 237, 0.809);
    color: #fff;
    cursor: pointer;
}

.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.one-image img{
    width: 650px;
    height: 450px;
}

.about{
    width: 500px;
    height: 300px;
    padding: 20px;
    margin-right: 10px;
}

.about p{
    font-size: 18px;
    line-height: 1.7;
}

.two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:20px auto;
    padding: 20px;
    gap: 20px;
}

.two img{
    width: 400px;
    height: 400px;
}

.two h3{
    font-size: 30px;
    font-weight: 600;
}

.two span{
    font-size: 20px;
    font-weight:bold;
    color: rgba(100, 148, 237, 0.895);
    margin: 0 auto;
    text-align: center;
    display: block;
}

.chair , .sofa , .dresser {
box-sizing: border-box;
width: 100%;
height:fit-content;
max-width: 1200px;
margin: 0 auto;
padding: 15px;
border: solid 2px rgba(0, 0, 0, 0.665);
}



